Repository vtexdocs/dev-portal-content, pull requests merged in 2024-12, with the labels that each got.

#1620 Doc reviewed by Localization
  docs/localization/do-not-remove.md
  docs/localization/vtex-io-documentation-enabling-404-pages-for-invalid-single-segment-paths.md
Labels: Localization

#1622 Doc reviewed by Localization
  docs/localization/2024-11-21-store-framework-sitemap-generation-disabled-during-shopping-season.md
  docs/localization/do-not-remove.md
Labels: Localization

#1636 Update multilevel-omnichannel-inventory.md
  docs/guides/Fulfillment/multilevel-omnichannel-inventory/multilevel-omnichannel-inventory.md
Labels: new, documentation

#1627 Doc reviewed by Localization
  docs/localization/vtex-io-documentation-enabling-performance-settings.md
Labels: Localization

#1626 Doc reviewed by Localization
  docs/localization/store-framework-analytics-installing-google-tag-manager.md
Labels: Localization

#1643 EDU-14016 | Deprecation of MOI for Integrations with External Marketplaces
  docs/guides/Fulfillment/multilevel-omnichannel-inventory/change-orders-multilevel-omnichannel-inventory-external-marketplaces.md
  docs/guides/Fulfillment/multilevel-omnichannel-inventory/multilevel-omnichannel-inventory-api-integration.md
Labels: quick-win, documentation
