Repository vtexdocs/dev-portal-content, pull requests merged in 2024-10, with the labels that each got.

#1310 Fix: Change get feed configuration endpoint
  docs/guides/Integration-Guides/erp-integration-guide/erp-integration-set-up-order-integration.md
Labels: external-contribution

#1488 EDU-13390 - Node builder 7.x
  docs/guides/vtex-io/Calling Commerce APIs/calling-commerce-apis-1-getting-the-service-app-boilerplate.mdx
  docs/guides/vtex-io/Calling Commerce APIs/calling-commerce-apis-3-using-vtex-io-clients.md
  docs/guides/vtex-io/Getting-Started/back-end-development-guides/node-builder-7x-migration-guide.md
  docs/guides/vtex-io/Getting-Started/back-end-development-guides/vtex-io-documentation-developing-service-configuration-apps.md
  docs/guides/vtex-io/Perks/vtex-io-documentation-homologation-requirements-for-vtex-app-store/vtex-io-documentation-engineering-guidelines.md
  docs/guides/vtex-io/Reference/concepts/vtex-io-documentation-builders/vtex-io-documentation-node-builder.md
  docs/guides/vtex-io/Storefront-Guides/concepts-1/vtex-io-documentation-collecting-user-session-data.md
  docs/guides/vtex-io/services/services-1-getting-started-with-the-boilerplate.mdx
  docs/guides/vtex-io/services/services-6-graphql-retrieving-data-from-master-data.mdx
  docs/release-notes/2024-10-10-node-builder-update-to-version-7x-and-deprecation-of-previous-builder-versions.md
Labels: new, documentation

#1496 Doc reviewed by Localization
  docs/localization/experimental-exports-hooks-and-components.md
Labels: Localization

#1510 Doc reviewed by Localization
  docs/localization/store-architecture.md
Labels: Localization

#1508 Doc reviewed by Localization
  docs/localization/dealing-with-events.md
Labels: Localization

#1509 Doc reviewed by Localization
  docs/localization/vtex-io-documentation-migrating-cms-settings-after-major-update.md
  images/cardholder-document-configuration-0.png
Labels: Localization
