Repository vtexdocs/dev-portal-content, pull requests merged in 2024-09, with the labels that each got.

#1403 Doc reviewed by Localization
  docs/localization/adding-installment-information-in-the-product-details-page.md
Labels: Localization

#1357 EDU-10876 - Pixel builder
  docs/guides/vtex-io/Reference/concepts/vtex-io-documentation-builders/vtex-io-documentation-pixel-builder.md
Labels: new, documentation

#1420 Add masterdata to the list of builders
  docs/guides/vtex-io/Reference/concepts/vtex-io-documentation-builders.md
Labels: documentation

#1422 Doc reviewed by Localization
  docs/localization/performance.md
Labels: Localization

#1413 Doc reviewed by Localization
  docs/localization/the-promotion-highlight-flag-does-not-appear-on-the-product.md
Labels: Localization

#1423 Update vtex-io-documentation-composition.md
  docs/guides/vtex-io/Reference/concepts/vtex-io-documentation-composition.md
Labels: enhancement

#1426 Doc reviewed by Localization
  docs/localization/building-pages.md
Labels: Localization

#1430 Doc reviewed by Localization
  docs/localization/styling.md
Labels: Localization

#1351 EDU-10874 - Messages builder
  docs/guides/vtex-io/Reference/concepts/vtex-io-documentation-builders/vtex-io-documentation-messages-builder.md
Labels: new, documentation

#1441 EDU-12833 General update on Headless Checkout guide
  docs/guides/Integration-Guides/headless-commerce/headless-cart-and-checkout.md
Labels: documentation

#1446 Doc reviewed by Localization
  docs/localization/getting-started-with-lighthouse.md
Labels: Localization

#1463 Doc reviewed by Localization
  docs/localization/seo.md
Labels: Localization

#1416 EDU-12071 - Service configuration app troubleshooting guide
  docs/guides/vtex-io/Getting-Started/back-end-development-guides/vtex-io-documentation-developing-service-configuration-apps.md
  docs/localization/i-am-getting-errors-with-my-service-configuration-app.md
Labels: new, documentation

#1476 Move Service configuration troubleshooting guide from localization folder
  docs/troubleshooting/development/i-am-getting-errors-with-my-service-configuration-app.md
Labels: chore, documentation
