Repository vtexdocs/dev-portal-content, pull requests merged in 2025-08, with the labels that each got.

#2098 Doc reviewed by localization
  docs/localization/developing-a-graphql-api-in-service-apps.mdx
Labels: Localization

#2101 EDU-11654 - Add hyperlink to Feed v3 guide
  docs/guides/Orders/orders-feed.md
Labels: documentation

#2071 EDU-14454 - Create "Developing a GraphQL API in service apps" guide
  docs/guides/vtex-io/GraphQL/developing-a-graphql-api-in-service-apps.mdx
Labels: new, documentation

#2112 [FastStore UI] Fix 'Button' component code examples
  docs/faststore/components/atoms/button.mdx
Labels: faststore-ui
