Repository vtexdocs/dev-portal-content, pull requests merged in 2025-04, with the labels that each got.

#1812 EDU-14629: Update Node builder deprecation message
  docs/guides/vtex-io/Reference/concepts/vtex-io-documentation-builders/vtex-io-documentation-node-builder.md
  docs/release-notes/2024-10-10-node-builder-update-to-version-7x-and-deprecation-of-previous-builder-versions.md
Labels: documentation

#1851 Doc reviewed by Localization
  docs/localization/faststore-versions-and-support-levels.md
Labels: Localization

#1853 Remove Create Zendesk Integration article content
  docs/guides/Conversational-Commerce/create-zendesk-integration.md
Labels: documentation

#1859 EDU-5778 Feedback #1746 - Improvement
  docs/guides/legacy-cms/list-of-controls-for-templates.md
Labels: documentation

#1861 Apply loc review: refresh-token-flow-for-headless-implementations.md
  docs/localization/refresh-token-flow-for-headless-implementations.md
Labels: Localization

#1863 feat: add new release note
  docs/release-notes/2025-04-16-new-delivery-promise-notification-api.md
Labels: documentation

#1862 Doc reviewed by Localization
  docs/localization/store-framework-glossary.md
Labels: Localization

#1871 Apply Localization review
  docs/localization/1-configuring-external-dns.mdx
Labels: Localization

#1869 EDU-11664 fix: fix 404 links
  docs/guides/Fulfillment/vtex-pick-and-pack/vtex-pick-and-pack-get-order-status-and-information-api.md
Labels: quick-win, documentation

#1870 Apply Localization review
  docs/localization/tooltip.mdx
Labels: Localization

#1872 Apply Localization review
  docs/localization/textarea-field.mdx
Labels: Localization

#1875 EDU-14427 feat: add release note
  docs/release-notes/2025-04-25-pick-and-pack-api.md
Labels: documentation

#1882 fix: fix links
  docs/release-notes/2025-04-25-pick-and-pack-api.md
Labels: documentation
