Repository vtexdocs/dev-portal-content, pull requests merged in 2025-01, with the labels that each got.

#1659 EDU-13928 - Update deny cancel order endpoint
  docs/guides/Orders/order-canceling-improvements.md
Labels: markdown-error, documentation

#1675 Doc reviewed by Localization
  docs/localization/vtex-io-documentation-4-configuringtemplates.md
Labels: Localization

#1686 Feat/update styleguide action
  .github/scripts/check-styleguide.js
Labels: github actions

#1690 Doc reviewed by Localization
  docs/localization/vtex-io-documentation-1-basicsetup.md
Labels: Localization

#1693 Doc reviewed by Localization
  docs/localization/vtex-io-documentation-2-prerequesites.md
Labels: Localization

#1696 feat: new release note for new pick and pack api
  docs/release-notes/2025-01-29-new-pick-pack-order-changes-api.md
Labels: new, documentation
