Repository vtexdocs/dev-portal-content, pull requests merged in 2025-02, with the labels that each got.

#1709 Doc reviewed by Localization
  docs/localization/2025-02-07-payments-gateway-api-new-permission-required-for-approving-payments.md
Labels: Localization

#1712 Doc reviewed by Localization
  docs/localization/cart-overview.md
Labels: Localization

#1727 Create external-marketplace-integration-app-graphql-api.md
  docs/guides/Integration-Guides/external-marketplace-integration-guide/external-marketplace-integration-app-graphql-api.md
Labels: new, documentation

#1749 Add Node builder 3.x
  docs/guides/vtex-io/Reference/concepts/vtex-io-documentation-builders/vtex-io-documentation-node-builder.md
Labels: documentation

#1753 Add hyperlinks to feed guide
  .gitignore
  docs/guides/Orders/orders-feed.md
Labels: quick-win, documentation
