Repository vtexdocs/dev-portal-content, pull requests merged in 2025-07, with the labels that each got.

#2055 Remove callout from Extensions Hub RN
  docs/release-notes/extensions-hub-our-new-place-to-promote-apps-and-partners-inside-vtex-admin.md
Labels: documentation

#2063 Feat/add grammar reviewer action
  .github/workflows/grammar-reviewer.yml
Labels: enhancement, grammar, github actions

#2013 Update GraphQL IDE doc
  docs/guides/vtex-io/GraphQL/graphql-ide.md
  docs/guides/vtex-io/GraphQL/graphql-in-vtex-io.md
  docs/guides/vtex-io/Reference/graphql-apis/graphql-ide.md
  images/graphql-ide-docs.gif
  images/graphql-ide-history.gif
  images/graphql-ide-navigation.png
  images/graphql-ide-query.gif
Labels: documentation

#2069 Doc reviewed by Localization
  docs/localization/vtex-io-documentation-becoming-a-registered-vtex-app-store-developer.md
Labels: Localization

#2068 Doc reviewed by Localization
  docs/localization/implementing-mtls.md
  docs/localization/revoking-ssl-private-certificates-when-using-mtls.md
Labels: Localization

#2090 EDU-12948 - Add min and max value for field
  docs/guides/Orders/orders-feed.md
Labels: documentation
